*{
    margin:0px;
    box-sizing: border-box;
    background-color:aliceblue;
  }
  @font-face {
      font-family: "grapesoda";
      src: url("entry-1/GrapeSoda1.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }  
  
    @font-face {
      font-family: "pixelcursive";
      src: url("entry-1/phosphenefont-regular1.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }  
  
    @font-face {
      font-family: "pixelify";
      src: url("fonts/PixelifySans-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }  

    .scarf{
        height: 100vh;
        object-fit: cover;
    }
  
    .spin-button {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 100px;
        left: auto;
        right: auto;
        border: none;
        object-fit: cover;
      }

    .spin-button img{
        height: 100px;
        width: 100px;
    }
  
      .spin-button:hover {
        transform: rotate(360deg); /* Spins on hover */
      }