*{
    
}
@font-face {
    font-family: "grapesoda";
    src: url("fonts/GrapeSoda.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }  

  @font-face {
    font-family: "pixelcursive";
    src: url("fonts/phosphenefont-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body {
    display: flex;
    flex-direction: column;
    background: url(images/AdobeStock_15658970.jpeg) lightgray 25% / cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.frame {
    size:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
       background-size: cover;
    background-position: center;
}
h1 {
    color: #000;
    text-align: center;
    font-family: "grapesoda", Helvetica;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.85;
    mix-blend-mode: multiply;
}

h2 {
    font-family: "pixelcursive", Helvetica;
    text-align: center;
    font-size: 30px;
}

.left {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color: none;
    background-image: url(images/Subject.png)
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: purple;
    background-image: url(images/mom-pic.png);
}