
  @font-face {
      font-family: "grapesoda";
      src: url("entry-1/GrapeSoda1.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }  
  
    @font-face {
      font-family: "pixelcursive";
      src: url("entry-1/phosphenefont-regular1.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }  
  
    @font-face {
      font-family: "pixelify";
      src: url("fonts/PixelifySans-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }  

body{
    background-color: white;
}
    .runninghead{
        background-color:
        display: flex;
        padding-top: 30px;
    }
    .heading{
        display: flex;
        font-size: 1.5vw;
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: grapesoda, Helvetica, monospace;
    }
    
    .button-container{
      height: 65px;
      width: 65px;
      transition: transform 0.5s ease-in-out; 
    }
    
    .button-container img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      
    }
    
    .button-container:hover{
      transform: rotate(360deg)
    }
  
    .heading2 {
        display: flex;
        font-size: 1.5vw;
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: pixelcursive, Helvetica, monospace;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .content{
      display: flex;
        justify-content: center;
        align-items: center;
        height: flex;
        flex-direction: row;
    }

    .scarf{
      
      height: 20rem;
      width: 20rem;
    }

    .scarf img{
        height: 100%;
        object-fit: cover;
    }
  
    .spin-button {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 100px;
        left: auto;
        right: auto;
        border: none;
        object-fit: cover;
        background-color: white;
      }

    .spin-button img{
        height: 100px;
        width: 100px;
    }
  
      .spin-button:hover {
        transform: rotate(360deg); /* Spins on hover */
      }